comtypes
duckduckgo-search
google-genai
mss
numpy
opencv-python
openpyxl
pandas
pdfplumber
Pillow
playwright
plyer
psutil
pyautogui
pycaw
pygetwindow
pyperclip
PyPDF2
pyqt6
pydub
python-docx
python-dotenv
python-pptx
pywinauto
requests
send2trash
sounddevice
win10toast
youtube-transcript-api
