pydantic-core==2.46.3
audioop-lts; python_version >= '3.13'
comtypes; sys_platform == 'win32'
duckduckgo-search
vosk
google-genai
langdetect
openai
mss
numpy
opencv-python
openpyxl
pandas
pdfplumber
Pillow
playwright
kokoro-onnx
soundfile
plyer
psutil
pyautogui
pycaw; sys_platform == 'win32'
pygetwindow
pyperclip
PyPDF2
pyqt6
pydub
python-docx
python-dotenv
python-pptx
pywinauto; sys_platform == 'win32'
requests
supabase
send2trash
sounddevice
win10toast; sys_platform == 'win32'
websockets
youtube-transcript-api
